* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 40px;
}
h1 {
  font-weight: bold;
  font-size: 25px;
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
}
.product-img {
  width: 250px;
  height: 250px;
  float: left;
}
.price {
  font-weight: bold;
  font-size: 21px;
  float: left;
}
.delivery {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
  float: right;
  margin-top: 8px;
}
a:link {
  text-color: #444;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
}
button {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}
button:hover {
  background-color: white;
  color: black;
  border-top: 4px solid black;
}
ul,
li {
  list-style-type: square;
  margin-left: 10px;
  margin: 10px;
}
.container {
  border: 5px solid black;
  width: 900px;
  margin-top: 40px;
  margin: 0 auto;
}
.information {
  margin-top: 15px;
  margin-bottom: 7px;
  clear: both;
}
.product-details {
  margin-top: 15px;
}
h1 {
  position: relative;
}
h1::after {
  content: "SALE";
  background-color: red;
  color: white;
  bottom: 32px;
  left: -40px;
  position: absolute;
  font-size: 12px;
  font-style: bold;
  padding: 5px 15px;
  letter-spacing: 3px;
}
.few-blocks {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.block1 {
  width: 20px;
  height: 20px;
  background-color: black;
  float: left;
  margin-right: 15px;
}
.block2 {
  width: 20px;
  height: 20px;
  background-color: blue;
  float: left;
  margin-right: 15px;
}
.block3 {
  width: 20px;
  height: 20px;
  background-color: red;
  float: left;
  margin-right: 15px;
}
.block4 {
  width: 20px;
  height: 20px;
  background-color: yellow;
  float: left;
  margin-right: 15px;
}
.block5 {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  float: left;
  margin-right: 15px;
}
.block6 {
  width: 20px;
  height: 20px;
  background-color: brown;
  float: left;
}
.left-content {
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 20px;
}
.right-content {
  width: 243px;
  float: right;
  padding-top: 10px;
}
