* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 40px;
}
header h1 {
  font-weight: bold;
  font-size: 30px;
  background-color: #f7f7f7;
  text-align: center;
}
header img {
  width: 300px;
  height: 300px;
}
.price {
  font-weight: bold;
  font-size: 21px;
}
.delivery {
  font-weight: bold;
  color: grey;
}
a:link {
  text-color: #444;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
}
button {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}
button:hover {
  background-color: white;
  color: black;
  border-top: 4px solid black;
}
ul,
li {
  list-style-type: square;
  margin-left: 10px;
  margin: 10px;
}
.back-to-main {
  font-size: 20px;
  text-decoration: none;
  background-color: #f7f7f7;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}
.back-to-main:hover {
  background-color: black;
  border: none;
  color: white;
}
.container {
  border: 5px solid black;
  width: 900px;
  margin-top: 40px;
  margin: 0 auto;
}
.information {
  margin-top: 15px;
  margin-bottom: 7px;
}
.product-details {
  margin-top: 15px;
}
