* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 40px;
}
h1 {
  font-weight: bold;
  font-size: 25px;
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
}
.product-img {
  width: 250px;
  height: 250px;
}
.price {
  font-weight: bold;
  font-size: 21px;
}
.delivery {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
a:link {
  text-color: #444;
}
a:visited {
  color: black;
}
a:hover {
  text-decoration: none;
}
button {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}
button:hover {
  background-color: white;
  color: black;
  border-top: 4px solid black;
}
ul,
li {
  list-style-type: square;
  margin-left: 10px;
  margin: 10px;
}
.container {
  border: 5px solid black;
  width: 900px;
  margin-top: 40px;
  margin: 0 auto;
}
.information {
  margin-top: 15px;
  margin-bottom: 7px;
  clear: both;
}
/* h1 {
  position: relative;
}
h1::after {
  content: "SALE";
  background-color: red;
  color: white;
  bottom: 32px;
  left: -40px;
  position: absolute;
  font-size: 12px;
  font-style: bold;
  padding: 5px 15px;
  letter-spacing: 3px;
} */
/* .few-blocks {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.block1 {
  width: 20px;
  height: 20px;
  background-color: black;
  float: left;
  margin-right: 15px;
}
.block2 {
  width: 20px;
  height: 20px;
  background-color: blue;
  float: left;
  margin-right: 15px;
}
.block3 {
  width: 20px;
  height: 20px;
  background-color: red;
  float: left;
  margin-right: 15px;
}
.block4 {
  width: 20px;
  height: 20px;
  background-color: yellow;
  float: left;
  margin-right: 15px;
}
.block5 {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  float: left;
  margin-right: 15px;
}
.block6 {
  width: 20px;
  height: 20px;
  background-color: brown;
  float: left;
}
.left-content {
  width: 243px;
  float: left;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 20px;
}
.right-content {
  width: 243px;
  float: right;
  padding-top: 10px;
}
 */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}
.header-text {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  grid-column: 1 / -1;
}
.center-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.product-img {
  display: flex;
  flex: 0 0 250px;
}
.price-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
}
.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;

  /*   width: 40px;
  text-align: center; */
}
.right-content {
  flex: 1;
}
.product-details {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.product-details-list {
  list-style: square;
  margin-left: 20px;
}
.product-details-list li {
  margin-bottom: 10px;
}
.few-blocks {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.block-black {
  display: flex;
  background-color: black;
  width: 20px;
  height: 20px;
}
.block-blue {
  display: flex;
  background-color: blue;
  width: 20px;
  height: 20px;
}
.block-red {
  display: flex;
  background-color: red;
  width: 20px;
  height: 20px;
}
.block-yellow {
  display: flex;
  background-color: yellow;
  width: 20px;
  height: 20px;
}
.block-green {
  display: flex;
  background-color: green;
  width: 20px;
  height: 20px;
}
.block-brown {
  display: flex;
  background-color: brown;
  width: 20px;
  height: 20px;
}

.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 1 / -1;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
